<div {{ attributes }}>
    {{ form_start(form) }}
    {{ form_row(form.content) }}

    <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-primary">
            <i class="fa-solid fa-envelope me-2"></i>
            Envoyer
        </button>
    </div>
    {{ form_end(form) }}
</div>