@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "dropzone";

.user-avatar {
  height: 1.5em;
  width: 1.5em;
  object-fit: cover;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: $primary;
}

body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-height: 100vh;

  main {
    flex-grow: 1;
    display: flex;
  }
}
