{% extends 'email.html.twig' %}

{% block body %}
    <span>Cette demande de réinitialisation de mot de passe expirare aujourd'hui à {{ reset_password_request.expiredAt|format_datetime('medium', locale='fr') }}</span>
    <a href="{{ path('security_reset_password', {token: reset_password_request.token}) }}">Réinitialiser mon mot de passe</a>
{% endblock %}

