<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save'
        }
    }) }}
        {{ form_row(form.user) }}

        <button>Réinitialiser</button>
    {{ form_end(form) }}
</div>