{% extends 'base.html.twig' %}

{% block body %}
    <div data-controller="tricks">
        <div data-tricks-target="list"></div>
        <button data-action="tricks#next" data-tricks-target="loadMore">Charger plus</button>
    </div>
{% endblock %}
